/*header*/
.main-header {
    z-index: 10;
}

/*sidebar*/
.sidebar {
    background: #fafafa;
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    bottom: 0;
    z-index: 5;
}


/*map*/
#map {
    position: absolute;
    top: 50px;
    left: 400px;
    right: 0;
    bottom: 0;
}