/*body*/
body {
    font-size: 12px;
}

/*header*/
.main-header {
    z-index: 10;
}

/*sidebar*/
.sidebar {
    background: #fafafa;
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    bottom: 0;
    z-index: 5;
    padding: 15px;
}

.sidebar .row {
    margin: 0;
}

/*map*/
#map {
    position: absolute;
    top: 50px;
    left: 400px;
    right: 0;
    bottom: 0;
}

/*form*/
.form-group {
    margin-bottom: 10px;
}

.select-control {
    margin-top: 6px;
}

.control-label {
    /*text-align: right;*/
}

/*infor panel*/
.info-panel-row {
    margin: 4px 0;
}