/*body*/
body {
    font-size: 12px;
}

/*header*/
.main-header {
    z-index: 10;
}

/*sidebar*/
.sidebar {
    background: #fafafa;
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    bottom: 0;
    z-index: 5;
    padding: 15px;
    overflow: auto;
}

.sidebar .row {
    margin: 0;
}

/*map*/
#map_container {
    position: absolute;
    top: 50px;
    left: 400px;
    right: 0;
    bottom: 0;
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map-loading {
    position: absolute;
    top: 48%;
    left: 48%;
    z-index: 5;
}

/*overlay*/
.overlay-coordinates {
    background: #fafafa;
    font-weight: bold;
    padding: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}


/*form*/
.form-group {
    margin-bottom: 10px;
}

.select-control {
    margin-top: 6px;
}

.control-label {
    /*text-align: right;*/
}

/*infor panel*/
.sidebar .info-panel-row {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

/*loading*/
.ball-spin-fade-loader > div {
    background: #23b7e5;
}

/*table*/

.sidebar .table {
    margin-bottom: 0
}